
@tailwind base;
@tailwind components;
@tailwind utilities;

.profile{
    display: flex;
    margin-top: 20px;
}
.frameprofile{
    height:400px;
    width:300px;
    margin-left: 15%;
    margin-top: 160px;
    margin-right: 0;
    background-image: url("/Users/pulso/Documents/GitHub/PetHub/pethub-website/src/assets/Rectangle 4949.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}
.frameprofile img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 250px;
    height: 300px;
    object-position: 5% 40px;
    
}
.profileinfo{
    
    margin-top: 250px;
    width: 70%;
    height:300px;
    margin-left: 50px;
  
}
.profileinfo button{
    margin-left: 950px;
    margin-top: 30px;
}
.pettitle{
    height: 50px;
    width: 80%;
    display: flex;
    text-align: left;
    margin-left: 20%;
    
    
}

.petprofile{
    border: 1px solid #ccc;
}
.petframeprofile{
    height:300px;
    width:1100px;
    margin-left: 20%;
    margin-top:0px;
    margin-right: 0;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
   
}

.petframeprofile img{
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    height: 290px;
    
}
.petprofileinfo{
    
    width: 80%;
    height:auto;
  
}
.petprofileinfo button{
    margin-left: 600px;
    margin-top: 30px;
}

.detail{
    width: 60%;
}